.filter {
    width: 21%;
    min-width: 20rem;
    height: 100%;
    position: sticky;
    top: 5rem;
    left: 0;
    padding: 3rem;
    box-shadow: #0000004d 0px 19px 38px, #00000038 0px 15px 12px;
    align-items: flex-start;
    gap: 1rem;
}

.filter__top {
    align-items: center;
    gap: 12rem;
}

.productlist__container {
    width: 77%;
    margin-left: auto;
    background-color: #f3f3f3;
    position: relative;
}

.productlist {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productlist__heading {
    padding: 1rem;
}

.productlist>.card>.card--hover>.card__aside>.card__figure>.card__image {
    width: 25rem;
    height: 25rem;
}

.productlist>.card {
    box-shadow: none;
}

.productlist>.card:hover {
    box-shadow: 0.1rem 0.1rem 1rem -0.5rem var(--black-color);
}

.card__wishlist {
    color: var(--primary-color);
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
}

.category__list {
    width: 20rem;
    padding: 1rem;
}

.rating__label {
    padding: 1rem;
}

.filter__slider {
    width: 20rem;
}

.footer.listingpage__footer {
    margin: 0;
}

.card__txtbtn {
    font-family: var(--secondary-font);
    font-weight: 500;
}